include ../includes/mixins.jade
doctype html
html
	include ../includes/layout/head.jade
body
	div.wrapper
		include ../includes/layout/header.jade
		main.main
			section.main__content
		include ../includes/layout/footer.jade
		
	script(type="text/javascript" src="js/libs.min.js")
	script(type="text/javascript" src="js/common.js")